{% extends "base.html" %}
{% block content %}

<div class="row-fluid">
  <div class="span12">
    <h1>About this site</h1>

    <p>
      This is a video index of Python-related video on the Internet.
      It does not <em>host</em> video&mdash;it's an index.
    </p>
    <p>
      Each video is lovingly packaged with a variety of metadata that
      comprises the context of the video: When was it taken? What was
      the venus? Who was speaking? What was the topic of the talk?
      What are the related links? Are there quality issues with the
      video?
    </p>
    <p>
      It's my hope that this metadata brings the video that's
      currently scattered about easier to find and easier to use.
    </p>

    <h2>How?</h2>
    <p>
      The software for this site is located on Github. TODO: need link.
    </p>
    <p>
      It's written using:
    </p>
    <ul>
      <li>django
      <li>django-nose/nose
      <li>jingo/jinja2
      <li>Twitter bootstrap
    </ul>
  </div>
</div>
{% endblock %}
