{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h2>About this site</h2>
</div>

<div class="row">
  <div class="span12">
    <p>
      This is a video index of Python-related video on the Internet.
      It does not <em>host</em> video&mdash;it's an index.
    </p>
    <p>
      Each video is lovingly packaged with a variety of metadata that
      comprises the context of the video: When was it taken? What was
      the venue? Who was speaking? What was the topic of the talk?
      What are the related links? Are there quality issues with the
      video?
    </p>
    <p>
      It's our hope that this metadata brings the video that's
      currently scattered about easier to find and easier to use.
    </p>

    <div class="section">
      <h3>Want to add a new conference?</h3>
      <p>
        <a href="{% url 'suggestions-list' %}">Check the queue and
          if it's not there, add it to the queue.</a>
      </p>
      <p>
        I'm working on making it easier for other people to add new
        conferences to the site so that I'm not the bottleneck, but
        that work hasn't landed, yet.
      </p>
    </div>

    <div class="section">
      <h3>Found a problem with the data?</h3>
      <p>
        If you've found a problem with the data in pyvideo.org, send
        me an email with the details (the more details, the better).
        Email me at <em>willkg at bluesock dot org</em>.
      </p>
    </div>

    <div class="section">
      <h3>Found a bug with the software?</h3>
      <p>
        If you've found a bug in richard, then please write up an
        issue
        in <a href="https://github.com/pyvideo/richard/issues">the
        issue tracker</a>.
      </p>
    </div>

    <div class="section">
      <h3>Want to contribute?</h3>
      <p>
        If you want to contribute to this site, you'll have to wait
        a bit until we get a contributor infrastructure going. I
        really want to make it easy for people to help make the
        metadata better, but the code isn't there, yet.
      </p>
      <p>
        If you want to contribute to the software, see 
        <a href="http://richard.readthedocs.org/en/latest/">http://richard.readthedocs.org/en/latest/</a>.
      </p>
    </div>

    <div class="section">
      <h3>Do you have other questions, comments, or concerns?</h3>
      <p>
        In the meantime, if you have questions, comments or concerns
        about this site, want to help out with richard development,
        or just want to send encouraging words, then send me an
        email.
      </p>
    </div>

    <div>
      <h3>Is this site helpful to you? Do you want to tip us for the work
        we're doing?</h3>
      <p>
        We spend a lot of our free time working on pyvideo, the
        software the runs it and maintaining infrastructure. It may
        not look like much, but it's done entirely in our spare time
        and it's a labor of love.
      </p>
      <p>
        Donate to the tip jar and show us how much a resource like this means
        to you.
      </p>
      <p>
        Sheila <iframe style="border: 0; margin: 0; padding: 0;"
                       src="https://www.gittip.com/codersquid/widget.html"
                       width="48pt" height="20pt"></iframe>
      </p>
      <p>
        Will <iframe style="border: 0; margin: 0; padding: 0;"
                     src="https://www.gittip.com/willkg/widget.html" 
                     width="48pt" height="20pt"></iframe>
      </p>
    </div>

    <div class="section">
      <h3>How is this site put together?</h3>
      <p>
        The software that runs this site is called richard. It's a free
        software project. You can find the code on GitHub at
        <a href="http://github.com/pyvideo/richard">http://github.com/pyvideo/richard</a>.
      </p>
      <p>
        The software that we use to work on the metadata and add it to
        pyvideo.org is called steve. It's also a free software project.
        You can find the code on GitHub at
        <a href="http://github.com/pyvideo/steve">http://github.com/pyvideo/steve</a>.
        Steve is very much an "in-progress" project and gets adjusted
        as our needs dictate.
      </p>
    </div>

    <div class="section">
      <h3>Future plans</h3>
      <ul>
        <li>Done!: Better feed support
        <li>Done!: Read-only API
        <li>Better subtitling support whether that's through Universal
          Subtitles or something else
        <li>Better metadata
        <li>Better browsing interface
        <li>Better search interface
      </ul>
      <p>
        Most of these are being worked on in the underlying
        software. See <a href="https://github.com/pyvideo/richard/issues">richard
        issue tracker</a> for details.
      </p>
      <p>
        Additionally, the data in pyvideo.org is ok, but could be a lot
        better. We're working on improving that, making it easier for
        other people to improve it, and adding additional conferences to
        the index.
      </p>
    </div>

    <div class="section">
      <h3>Thank you!</h3>
      <p>
        We want to thank:
      </p>
      <ul>
        <li><a href="http://github.com/pyvideo/richard/blob/master/AUTHORS">richard
          development team</a> for building the software that runs this
          site
        </li>

        <li><a href="http://www.rackspace.com/cloud">Rackspace</a>
          for graciously hosting pyvideo.
        </li>

        <li><a href="http://pculture.org/">Participatory Culture
          Foundation</a> for putting together
          <a href="http://mirocommunity.org/">Miro Community</a>
          which got me started curating Python video
        </li>

        <li>Carl and Ryan at <a href="http://nextdayvideo.com/">Next
          Day Video</a> and the video teams that have filmed a large
          majority of this video over the years&mdash;the work they
          do is magical and they're great to work with
        </li>

        <li><a href="http://www.python.org/psf/">Python Software
          Foundation</a> for the grant they awarded me in 2011 that
          paid costs I was accruing with Python Miro Community and
          for being so supportive of my efforts like they are with
          the many others who volunteer for Python community things
        </li>

        <li><a href="http://mozilla.org/">Mozilla</a> for hiring me
          and bringing me back to web development and also building a
          lot of the libraries I used on the site
        </li>

        <li>the people who put together these conferences&mdash;it's a
          metric ton of work that goes into bringing so many people
          together under one roof to be together, learn, and share
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
