{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation
Copyright 2011 - Will Kahn-Greene

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load i18n uploadtemplate_tags %}

{% block title %}{{ block.super }} - Learning Python{% endblock %}

{% block body_id %}about_page{% endblock %}

{% block content %}
  <div id="main">
  
  <img class="logo" alt="{{ sitelocation.site.name }} Logo" src="{% if sitelocation.logo %}{{ sitelocation.logo.url }}{% else %}{% get_static_url "/images/logo.gif" %}{% endif %}" />

  
<h2 class="page_title">Learning Python</h2>

<h2>Summary</h2>
<p>
  There are a lot of educational videos out there for learning how to
  program in Python, using developer tools, and related topics.  Here
  are some of the educational groups that you might be interested in.
</p>
<p>
  <b>Note (2/18/2011):</b> These should get converted into playlists.
</p>
<h1>Python Basics</h1>
<p>
  Whether Python is your first programming language or not, the videos
  tagged with python-basics will help you pick up the language.
</p>
<p>
<a href="/listing/tag/python-basics">videos tagged with 'python-basics'</a>
</p>

<h1>Advanced Python</h1>
<p>
  You've gotten the hang of Python basics and have been programming in
  it for some time.  You know there are design patterns and other
  constructs out there that would really make a difference in your
  skillset--the videos tagged with python-advanced will be of
  interest.
</p>
<p>
<a href="/listing/tag/python-advanced">videos tagged with 'python-advanced'</a>
</p>

  </div>

{% endblock %}
