{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-4">
<pre>
        _  _    ___  _  _   _ 
       | || |  / _ \| || | | |
       | || |_| | | | || |_| |
       |__   _| |_| |__   _|_|
          |_|  \___/   |_| (_)


           ?      ?    ?
     ___  ?    ?         ? ___
    / _ \  ?   .---.    ? / _ \
    \/_) )   _|o__  |_    \/_) )
     / ,-   '       | '    / ,-'
     '-'   (   .----'  )   '-'
     (_)    '_|   ____'    (_)  
              |   o |   
               '---'

          WHERE MY PYTHONS
             AT?!!!?!!
</pre>
  </div>
  <div class="col-md-8">
<h2>Gah!</h2>
<p>
  Gah! Somehow you ended up on a page that's not handled
  anywhere. I really apologize for this.
</p>

<h2>What happens now?</h2>
<p>
  I don't watch for 404 errors, so the best thing for you to
  do is fire off an email to me at <em>willg at bluesock dot org</em>
  with the url you're trying to go to and any information you
  think is relevant to how you got there.
</p>
<p>
  I'll respond within a week. I'll probably either fix it immediately
  or write up a bug report and fix it later.
</p>
<p>
  In the meantime, <a href="http://pyvideo.org/">you can go back to
  the home page</a>.
</p>
  </div>
</div>
{% endblock %}
