<html>
<title>500 error</title>
<body>
<h1>500 error</h1>
<p>
  Gah! Something happened that wasn't handled properly in the
  code. I really apologize for this.
</p>

<h1>What happens now?</h1>
<p>
  An email with the error, the traceback, and some context
  was sent to the site admin. At some point in the next few days
  the email will be looked at. At that point, the site admin
  will create an issue in either the
  <a href="http://github.com/willkg/pmc/issues/">pyvideo.org issue tracker</a>
  or the
  <a href="http://github.com/willkg/richard/issues/">richard issue tracker</a>
  depending on whether the problem is with pyvideo.org or with richard.
  Then&mdash;assuming all goes well&mdash;the issue will be fixed and the
  fix deployed.
</p>

<h1>What should you do now?</h1>
<p>
  It's probably the case that if you refresh this page, you'll just hit
  the error again. I suggest doing something else on the site and/or
  coming back again in a day or two.
</p>
<p>
  <a href="http://pyvideo.org/">Here's a link to the home page</a>.
</p>
</body>
</html>
